

<body>
<header>
    <h1>Witaj użytkowniku!</h1>
    <h6> Zaloguj się by móc korzystać z aplikacji</h6>
</header>

<form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Login</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="text" formControlName="password">
    </div>
    <button class="button" type = "submit">Zaloguj</button>

</form>

</body>